main {
    max-width: 720px;
    width: 100%;
}

.form-ingredient-query {
    display: flex;
    margin: 48px;
    gap: 12px;
}

.form-ingredient-query > input {
    background-color: white;
    color: #6B7280;
    font-size: 1rem;
    width: 400px;
    height: 38px;
    border-radius: 5px;
    border: 1px solid rgba(117, 117, 117, 0.3);
    padding: 13px;
}

.form-ingredient-query > button {
    width: 183px;
    height: 38px;
}

.inner-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style-position: inside;
    line-height: 3rem;
    text-align: left;
    min-width: 82.5%;
    margin: 3rem 3rem;
}

.inner-list > h2 {
    color: #000000;
    font-weight: 700;
}

.inner-list > ul {
    color: #757575;
}

.inner-list > ul > li {
    padding: 0 5px;
}

.generate-recipe-prompt {
    display: flex;
    justify-content: space-between;
    background-color:#F0EFEB;
    width: 100%;
    max-width: 594px;
    margin-inline: auto;
    color: #F0EFEB;
    margin: 3rem;
    padding: 3rem;
    box-sizing: border-box;
}

.generate-recipe-prompt > button {
    background-color:#D17557;
    color: FAFAF8;
    width: 135px;
    height: 38px;
    font-size: 0.875rem;
}

.generate-recipe-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 140px;
    width: 100%;
}

.generate-recipe-description > h3 {
    color:black;
}

.generate-recipe-description > p {
    color:#6B7280;
}